*{

        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;

}

header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(im2.jpg);
    background-position: center;
    background-size: cover;
    position:  relative;
}

/* header{
    background-color: darkorange;
    height: 50vh;
} */
nav{
   
   
}

.nav1{
    display: flex;
    justify-content: space-between;
}
.nav1 ul{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}


.nav1 ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}
.nav1 ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.job{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: blue;
    color: #fff;
}

.wan{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(28, 171, 28);
    color: #fff;
}

.nav1 ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: chocolate;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav1 ul li:hover::after{
    width: 100%;
}


.lo1{
    width: 300px;
}
.na1{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.na2{
    padding-top: 150px;
    margin-left: 250px;
}
.na2 h2 {
    color: #fff;
    font-size: 35px;
}
.na2 small{
    color: #e5e0e0;
}

.fa1{
    font-size: 20px;
}
.sec1{
    border: none;
     padding: 10px 15px;
 }

/* .sec1{
   border: none;
    padding: 10px 15px;
}
.fa1{
    font-size: 20px;
}
.bar1{
    font-size: 35px;
}
.na2{
    padding-top: 150px;
    margin-left: 250px;
}
.na2 h2 {
    color: #fff;
    font-size: 35px;
}
.na2 small{
    color: #e5e0e0;
} */

.sec-2{
    border-radius: 50px;
   
    
    font-size: 20px;
}
.sec-2 h3 {
   
    padding-bottom: 50px;
}
.sec-2 p {
    
    padding-bottom: 50px
}

.sec-2 ul li{
    list-style: none;
} 

.sec-3{
 width: 500px; 
 border-radius: 20px;
 cursor: pointer;
 opacity: 5;
 transition: 0.5s;
}



.sec0{
    display: flex;
    justify-content: space-between;
    background-color:  #fff3f3;
   padding-left: 150px;
   padding-right: 150px;
   padding-top: 20px;
}

.sec-0{


}
.pre{
    padding-bottom: 30px;
    font-size: 50px;
    text-align: center;
}
.sec4-col img{
    width: 100%;
}
.sec-4{
    display: flex;
    justify-content: space-around;
   
    
}
.sec4 {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: #FFC107;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-top: 50px;
}

.sec4 h1{
    font-size: 50px;
}
.sec4-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(0,0,0,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: black;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 1;
    transition: 0.5s;
}

footer{
    background-color:  darkgrey;
    height: 50vh;
    margin-top: 100px;
}

.fo2{
    display: flex;
    justify-content: space-around;

}
.cont1 a{
    text-decoration: none;
    color: black;
   
}
.cont1{
   font-size: 20px; 
   font-weight: 100%;
}
.cont2{
    font-size: 20px; 
   font-weight: 100%; 
}

.cont2 a{
    text-decoration: none;
    color: black;
   
}

.lo2{
    width: 300px;
}


.ico2{
    
    font-size: 50px;
}

.face{
   border-radius: 10px;
    ;
    color: blue;
}
.yu{
    border-radius: 10px;
   ; 
    color: #f44336;
}
.tw{
    border-radius: 10px;
    color: #777;
}
.int{
    border-radius: 10px;
   
    color: blueviolet;
}
.fo-col {
    padding-bottom: 10px;
    font-size: 20px;
}
.fo-col p{
    color: black;
}
.sui{
    font-size: 2rem;
    color: black;
}

/* activité partie */


.pro{
    padding-left: 300px;
    padding-right: 300px;
   
    text-align: center;
}

.act{
    display: flex;
    justify-content: space-between
}

.activ h2{
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #777;
}

.activ-col h3{
    text-align: center;
    font-size: 35px;
    padding-top: 25px;
    padding-bottom: 10px;
}
.activ-col p{
    text-align: center;
}


.her{
   width: 90%;
   border-radius: 10px;
   
}
.ver{
    width: 90%;
    border-radius: 10px;
 }

 .ter{
    width: 90%;
    border-radius: 10px;
 }


 .mer{
    width: 90%;
    border-radius: 10px;
 }


/* partie contact */

.sec-6-1 {
    text-align: center;

}

.sec-6-2 {
    padding-left: 400px;
    padding-right: 400px;
}
.sec6 {
    color: #FFC107;
    font-size: 88px;
}
.sec6-1 {
    font-size: 20px;
    color: rgb(38, 38, 229);
}

/* partie footer 3 */

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(DCLIC\ Mada.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
     color: #fff;
     margin-bottom: 40px;
     padding: 0;
}
 .hero-btn{
     color: #fff;
     padding: 10px 5px;
     background-color: #f44336;
     text-decoration: none;
     border-radius: 10px;
     border: 1px solid black;
 }
 @media(max-width: 300px){
     .cta h1{
        font-size: 20px; 
     }
 }

/* footer */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icon5 .va {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}

/* partie experience */



.facile{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
   
}


.facile2{
   margin-top: 50px;
}
.fac3{
    color: #FFC107;
    font-size: 70px;  
}
.bur{
   font-size: 30px;
}

.valeur{
    font-size: 25px;
    color: #FFC107;
}